@using RepositoryPatternWithUOW.Core.Models
@model IEnumerable<Drink>

<h1>ALL Drinks </h1>
<div>
        <div style="padding-top:10px">
            Result:
            <input type="text" id="txtResult" />
        </div>
    <div>
        <div>
            <div style="margin-left: 66rem;">
                <script type="text/javascript">
                    function sum(){
                         var FirstNum = 10;
                         var result = parseInt(FirstNum) ;
                         document.getElementById('txtResult').value = result;
                         }
                         </script>
             
    <button class="btn btn-warning" value="10" id= "10" onkeyup="sum()" > 10 </button>>
    <a href="@Url.Action("Index", "Client", new { amount = 5 })" class="btn btn-warning" role="button">5</a>
    <a href="@Url.Action("Index", "Client", new { amount = 2 })" class="btn btn-warning" role="button">2</a>
    <a href="@Url.Action("Index", "Client", new { amount = 1 })" class="btn btn-warning" role="button">1</a>

    <h1>Your Amount</h1>
        <h2>@ViewBag.Amount</h2>
        
        </div>
        @if (Model != null)
        {
            <div class="container mb-4" style="margin-left: -8rem; margin-top:-19rem;">
                <div class="row" style= "margin:14rem;">
                    @foreach (var item in Model)
                        {
                            @if (item.ExpirationDate < DateTime.Now)
                            {
                            }
                            else
                            {
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4")>
                                    <div class="card shadow" >
                                        <div class="card-body text-center">
                                            <h3 class="text-warning">@Html.DisplayFor(modelItem => item.DrinkName)</h3>
                                            @if (ViewBag.Amount >= item.Price)
                                            {
                                                <a href="@Url.Action("Buy", "Client", new { Id = item.Id })">
                                                <img class="card-img-top" src="@Url.Content("~/Images/"+ item.ImageName)" alt=""></a>
                                            }
                                            else
                                            {
                                                <a href="#">
                                                <img class="card-img-top" src="@Url.Content("~/Images/"+ item.ImageName)" alt="">
                                                <h8 style="color:red">Not enough amount</h8>
                                                </a>
                                            }
                                            <a class="text-reset" href="#"><h5 class="card-title display-4" style="font-size: larger;">@Html.DisplayFor(modelItem => item.Description)</h5></a>
                                            <h6>Price @Html.DisplayFor(modelItem => item.Price) </h6>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                </div>
            </div>
        }
        
        </div>
        </div>
        </div>










         @*here i cloud make the button to enter the money with foreach but i sould use one table for drink and coins 
            and that i doun't think will be right or there is way to use two models togther that i don't know it 
            i want to make point on not using js or .css i can use them but i am not professional writing it )) 
            and that will take alot of time 
        *@