@using RepositoryPatternWithUOW.Core.Models
@model IEnumerable<Drink>

             @*here i cloud make the button to enter the money with foreach but i sould use one table for drink and coins 
            and that i doun't think will be right or there is way to use two models togther that i don't know it 
            i want to make point on not using js or .css i can use them but i am not professional writing it )) 
            and that will take alot of time i know that i hadn't do the view great but its functionly workes 
            i cannot use ajax and i can write some codes with js 
        *@

<script>
    var amount =0;
                    function sum(val){
                         amount += parseInt(val);
                         document.getElementById('txtResult').value = amount;
                         
                        }
                         </script>
                         <script>   
                          function pay(n){
                              var the_Id = parseInt(document.getElementById('the_Id').value);
                              amount_ = parseInt(amount);
                              window.location.href = "Client/Buy/"+the_Id+"?amount="+amount_;
                          }
                         </script>
<h1>ALL Drinks </h1>
<div>
    <div>
        <div>
            <div style=" margin-left: 64rem;">
                <h1>Your Amount</h1>
                
    <input href="#" type="text" id="txtResult" readonly "/>
    </div>
            <div style="margin-left: 66rem;">
                
             
    <button class="btn btn-warning" value="10" id= "10" 
    onclick= "sum(this.value)" > 10 </button>
       <button class="btn btn-warning" value="5" id= "5" onclick= "sum(this.value)" > 5 </button>
       <button class="btn btn-warning" value="2" id= "2" onclick= "sum(this.value)" > 2 </button>
       <button class="btn btn-warning" value="1" id= "1" onclick= "sum(this.value)" > 1 </button>
    <button class="btn btn-warning" value="1" id= "puy" onclick= "pay(this.value)" > Pay </button>

        <h2>@ViewBag.Rest</h2>
      
        </div>
        @if (Model != null)
        {
            <div class="container mb-4" style="margin-left: -8rem; margin-top:-19rem;">
                <div class="row" style= "margin:14rem;">
                    @foreach (var item in Model)
                        {
                            @if (item.ExpirationDate < DateTime.Now)
                            {
                            }
                            else
                            {
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4")>
                                    <div class="card shadow" >
                                        <div class="card-body text-center">
                                            <h3 class="text-warning">@Html.DisplayFor(modelItem => item.DrinkName)</h3>
                                             
                                                <input type="text" href="#" id= "the_Id" value="@Html.DisplayFor(modelItem => item.Id)" hidden > </input>
                                                <a  href="#">
                                                <img class="card-img-top" src="@Url.Content("~/Images/"+ item.ImageName)" alt=""></a>
                                            <a class="text-reset" href="#"><h5 class="card-title display-4" style="font-size: larger;">@Html.DisplayFor(modelItem => item.Description)</h5></a>
                                            <h6>Price @Html.DisplayFor(modelItem => item.Price) </h6>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                </div>
            </div>
        }
        
        </div>
        </div>
        </div>